<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :question_id, collection: question_collection %>
    <%= f.input :ans_body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
